*{
	box-sizing:border-box;
}
#container body{
	background-color:#abd9e9;
	font-family:Arial;
      margin: 0;
      padding: 0;
}
#container{
	width: 100vw;
    height: 100vh;
    overflow: hidden;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	margin-top:60px;
	width:25%;
	background-color:#eff3f7;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	margin-top:70px;
	width:75%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#fff;
	border:none;
	border-radius:6px;
	background-image:url(https://icon-library.com/images/free-search-icon/free-search-icon-22.jpg);
	background-repeat:no-repeat;
	background-position:300px;
	background-size:35px;
}
aside input::placeholder{
	color:#838b9e;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:100vh;
}
aside li{
	padding:10px 0;
	cursor:pointer;
	transition:0.6s;
	background-color:#EAEAEA;
	border: 1px solid #CCCCCC;
}
aside li:hover{
	opacity:0.8;
}

h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
	margin-top:5px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:black;
	font-weight:normal;
	margin-top:6px;
	display:inline-block;
	
}


.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}

.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height:110px;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	margin-top:15px;
	color:black;
	font-size:16px;
	
}


#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:390px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h2{
	color:black;
	font-weight:bold;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:left;
}
#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:15px;
}

main footer{
	height:155px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#838b9e;
	font-size:14px;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-top:5px;
	display:inline-block;
}
aside ul img,header img {
	width:50px;
	height:50px;
}
.addfriend{
	display: inline-block;
  padding: 3px 6px;
  background-color: #3598db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-left:90px;
}

#send{
  padding:10px 24px;
	font-weight:bold;
	border-radius:6px;
	border:none;
	cursor:pointer;
	background-color: #5e72e4;
	color:white;
    transition: all 0.6s;
}
#send:hover{
	opacity:0.8
}
#send:active{
	transform: scale(0.95);
	opacity:0.6
}

